[Unit]
Description=Listen for Sleep

[Service]
Type=simple
ExecStart=/opt/pi-io/power
ExecStop=kill -2 `pidof power`

[Install]
WantedBy=multi-user.target
